<html>
   <head>
       
      <link rel="stylesheet" href="/css/style.css"/>
      <link  rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Lato:300,300i,700"/>
      <title>Login/Signup</title>
      
      

   </head>
    <body>
        <div class="login--signup">
            <main class="login-form">
                <h2 class="heading-secondary ma-bt-lg">SIGNUP</h2>
                <form class="form form--signup">
                    <div class="form__group required">
                        <label class="form__label" for="s_name">Username</label>
                        <input class="form__input" type='text', id="s_name" placeholder='Username' />
    
                    </div>
                    <div class="form__group required">
                        <label class="form__label" for="s_email">Email</label>
                        <input class="form__input" type='email', id="s_email" placeholder='you@example.com' />
    
                    </div>
                    <div class="form__group required ma-bt-md">
                        <label class="form__label"for="s_password">Password</label>
                        <input class="form__input"type='password', id="s_password" placeholder='******' />
    
                    </div>
                    <div class="form__group required ma-bt-md">
                        <label class="form__label"for="s_passwordConfirm">Confirm Password</label>
                        <input class="form__input"type='password', id="s_passwordConfirm" placeholder='********' />
    
                    </div>
                    <div class="form__group">
    
                        <button type ="submit" class="btn btn--green">SIGNUP</button>
    
                    </div>
                      
    
    
                </form>
    
    
            </main>
    
    
    
            <main class="login-form">
                <h2 class="heading-secondary ma-bt-lg">LOGIN</h2>
                <form class="form form--login">
                   
                    <div class="form__group required">
                        <label class="form__label" for="email">Email</label>
                        <input class="form__input" type='email', id="email" placeholder='you@example.com' />
    
                    </div>
                    <div class="form__group required ma-bt-md">
                        <label class="form__label"for="password">Password</label>
                        <input class="form__input"type='password', id="password" placeholder='********' />
    
                    </div>
                   
                    <div class="form__group">
    
                        <button type ="submit" class="btn btn--green">Login</button>
    
                    </div>
                      
    
    
                </form>
    
    
            </main>
    

        </div>
              
        <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js'></script>
        <script src="/js/login_signup.js"></script>

        
    </body>



</html>



