<div class="display-table">
    <table style="width:200%; margin-top: 40px;">
        <tr>
          <th>Record</th>
          <th>Hshd_Num</th>
          <th>Basket_Num</th> 
          <th>Date</th>
          <th>Product_Num</th>
          <th>Department</th> 
          <th>Commodity</th>
          <th>Spend</th>
          <th>Units</th> 
          <th>Store_region</th>
          <th>Week_num</th>
          <th>Year</th> 
          <th>Loyality Flag</th>
          <th>Age_Range</th>
          <th>Marital_status</th>
          <th>Income_range</th> 
          <th>Home_owner_desc</th>
          <th>Hshd_composition</th>
          <th>Hshd_size</th> 
          <th>children</th>
        </tr>
            {%records%}
      </table>

</div>